@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Default Light Theme */
body {
	font-family: "Roboto Condensed", sans-serif;
	background-image: url('light-bg.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #f5f5f5;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

#profile-img {
	display: block;
	max-height: 40vh;
	margin: 0 auto;
}

button {
	font-family: "Roboto Condensed", sans-serif;
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
}

/* Dark Theme */
body.dark {
	background-image: url('dark-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	color: #f5f5f5;
}

@property --gradient-angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

:root {
	--clr-1: #052b2f;
	--clr-2: #073438;
	--clr-3: #0e4b50;
	--clr-4: #2d8f85;
	--clr-5: #637c54;
}

.card {
	height: 40vh;
	aspect-ratio: 1 / 1.5;
	background: var(--clr-1);
	border-radius: 0.5rem;
	position: relative;
	margin: 1rem auto;
}

.card::before,
.card::after {
	content: "";
	position: absolute;
	inset: -.5rem;
	z-index: -1;
	background: var(--clr-5);
	background: conic-gradient(
		from var(--gradient-angle),
		var(--clr-3),
		var(--clr-4),
		var(--clr-5),
		var(--clr-4),
		var(--clr-3));
	border-radius: inherit;	
	animation: rotation 15s linear infinite;
}

.card::after {
	filter: blur(30px);
}

@keyframes rotation {
	from {
		--gradient-angle: 0deg;
	}
	to {
		--gradient-angle: 360deg;
	}
}